button {
    background-color:rgb(61, 60, 60);
    color: $text-white;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    margin-left: 30px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.08em;
}